<%= link_to 'Create Quiz', new_quiz_path %>

<h3>Quizzes</h3>

<table>
  <tr>
    <th> Title </th>
  </tr>


  <% @quizzes.each do |quiz| %>
    <tr>
      <td><%= link_to quiz.title, quiz_path(quiz)%></td>
    </tr>
  <% end %>

</table>
